body{
    background-color: #2135a6;
    height: 100%;
    margin: 0;
}

.illustration__logo__container{
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.illustration{
    width: auto;
}

.logo{
    width: auto;
}

.subscribe__button{
    margin-top: 2rem;
}


.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: .5rem;
}

.form__input.login {
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #00bcd4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 425px) {
    .illustration{
        width: 80%;
    }
    
    .logo{
        width: 80%;
    }
}

.alerta {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.alerta strong {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.alerta-success {
    background-color: #4CAF50 !important;
}

.alerta-danger {
    background-color: #F44336 !important;
}